@import '__mixins.scss';

@media screen and (max-width: 1240px) {
    .wrapper {
        @include wh(800px);
    }
    .header__wrapper {
        h2 {
            text-align: right;
            flex-wrap: wrap;
        }
    }
    .header__right-position, .header__left-position {
        width: 100%;
        text-align: right;
    }
    .footer {
        .footer__wrapper {
            padding: 50px 70px;
        }
        .footer__wrapper_form {
            a {
                padding: 22px 70px;
            }
        }
        .form-item__input {
            margin-right: 0;
        }
    }
    .form__item {
        @include flexColumn {
            align-items: flex-start;
        }
        input {
            margin: 20px 0px;
            margin-right: 0;
        }
        a {
            padding: 22px 70px;
        }
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        @include wh(600px);
    }
    .header {
        .header__items {
            padding-top: 30px;
            text-align: left;
        }
    }
    .header__logo {
        margin-bottom: 30px;
    }
    .header__wrapper h2 {
        text-align: left;
    }
    .main {
        .main__content {
            @include flexColumn;
            margin: auto;
        }
    }
    .footer {
        background: $lightBlack;
        .footer__wrapper {
            @include flexColumn;
            margin: auto;
        }
        .footer__wrapper-form {
            padding-top: 20px;
        }
        .form-item {
            input {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 640px) {

    body {
        width: 100vh;
    }
    .wrapper {
        @include wh(400px);
    }

    .header {
        .header__left-position {
            @include flexColumn;
            h2 {
                margin: 15px;
                text-align: center;
            }
        }
        .header__items {
            text-align: center;
        }
        .header__top-position {
            @include flexColumn;
        }
        a {
            &:not(:last-child) {
                padding: 10px;
            }
        }
        @include wh;
        margin: 0 auto;
        .header__logo {
            padding: 15px;
        }
    }

    .main {
        .main__wrapper-sortedBy {
            margin: 15px;
            p {
                margin: 5px;
            }
            &:last-child {
                margin: 15px 15px 15px 0;
                a {
                    margin-left: 5px;
                }
            }
        }
    }

    .footer {
        .footer__wrapper-text {
            width: auto;
        }
    }
}
