@import "__variables.scss";
@import "__mixins.scss";

//Common styles

body {
	background-color: $white;
}

.wrapper {
	@include wh(1180px);
	margin: 0 auto;
}

.up {
	padding: 18px;
	background: $blue;
	position: fixed;
	right: 45px;
	bottom: 45px;
	z-index: 999;
}

//Header styles

.header {
	background: url('../img/header/bg-min.jpg') no-repeat center;
	background-size: cover;
	a {
		@include links;
		@include text(18px, 22px, $white);
		&:not(:last-child) {
			padding-right: 75px;
		}
	}
	h2 {
		@include text(38px, 46px, $white, bold);
	}
	h3 {
		@include text(24px, 29px, $white, bold);
	}
	p {
		@include text(18px, 22px, $white);
	}
	.header__blur {
		background: rgba(31, 32, 33, 0.79);
	}
	.header__wrapper {
		@include flex;
		@include flexPack;
		padding: 40px 0px 65px;
	}
	.header__top-position {
		@include flex;
		padding-bottom: 50px;
	}
	.header__logo {
		padding-right: 120px;
	}
	.header__items {
		padding: 25px 0px 3px;
		text-align: right;
	}
}

//Main styles

.main {
	.main__wrapper {
		@include flexColumn;
	}
	.main__wrapper-content {
		@include flex;
	}
	.main__wrapper-sortedBy {
		@include flex {
			justify-content: flex-start;
		}
		margin: 37px 0px;
		p {
			@include text(18px, 22px, $black, bold);
			margin-right: 50px;
		}
		a {
			@include links;
			@include text(18px, 22px, $black, normal);
			margin-right: 15px;
		}
		img {
			transition: .3s all;
			&:not(.price) {
				margin-right: 50px;
			}
		}
		.active {
			transform: rotate(180deg);
			&:not(.price) {
				margin-right: 50px;
			}
		}
	}
	.main__content {
		@include flex;
	}
	.group__info {
		.group__info-bold {
			@include text(16px, 20px, $black, bold);
		}
	}
	.group__info-left {
		@include flex;
		img {
			margin-right: 18px;
		}
	}
	.main__item {
		@include wh(380px);
		:not(:last-child) {
			@include flexPack;
		}
		background-color: $darkWhite;
		margin-bottom: 50px;
		overflow: hidden;
		img {
			transition: .3s all;
			cursor: pointer;
			&:hover, &:active, &:focus {
				transform: scale(1.05);
			}
		}
		h3 {
			@include text(24px, 29px, $black, bold);
			padding-bottom: 20px;
		}
		h4 {
			@include text(22px, 29px, $black, bold);
			padding-bottom: 30px;
		}
		p {
			@include text(12px, 15px, $black, normal);
		}
		a:not(.main__item-favorites) {
			@include text(16px, 20px, $white, bold);
			@include radius(0 0 8px 8px, 20px 159px 20px 160px);
			text-decoration: none;
		}
	}
	.main__item-action {
		@include wh(100%, 60px);
		@include flexColumn;
		@include btn($blue, pointer, 0 0 8px 8px);
		transition: .3s all;
		&:hover, &:active, &:focus {
			background-color: $darkBlue;
		}
	}
	.sold-out {
		@include wh(100%, 60px);
		@include flexColumn;
		@include btn($lightBlack, default, 0 0 8px 8px);
		&:hover, &:active, &:focus {
			background-color: $lightBlack;
		}
	}
	.main__item-sale {
		@include wh(80px, 40px);
		@include flex;
		@include add(absolute, 99, 25px 0 5px 20px);
		background: $red;
		border-radius: 10px;
		position: absolute;
		margin: 25px 0px 5px 20px;
		z-index: 99;
		p {
			@include text(16px, 20px, $white, normal);
			margin: auto;
		}
	}
	.main__item-favorites {
		opacity: 50%;
		@include links(80%);
		@include add(absolute, 99, 25px 0px 5px 305px);
	}
	.favorite {
		opacity: 100%;
		@include links(100%);
		@include add(absolute, 99, 25px 0px 5px 305px);
	}
	.main__item-wrapper {
		padding: 29px;
	}
	.main__item-group {
		@include flex;
		padding-bottom: 20px;
	}
	.main__showMore {
		@include links(55%);
		@include text(14px, 17px, $black, normal);
		@include radius(10px, 25px 125px);
		border: 1px solid #CACACA;
		box-sizing: border-box;
		margin: 0px 5px 40px;
	}
}

.footer {
	.footer__wrapper {
		@include flex;
		@include flexPack;
		background: $lightBlack;
		padding: 90px 80px;
	}
	h3 {
		@include text(48px, 59px, $white, bold);
		padding-bottom: 25px;
	}
	.footer__wrapper-text {
		@include wh(40%);
		flex-wrap: wrap;
		p {
			@include text(28px, 91.2%, $white, normal);
		}
	}
	.form__item, .form__item-news {
		@include flex;
		margin-bottom: 25px;
	}
	.checkbox {
		@include wh(35px, 35px);
	}
	.footer__wrapper-form {
		@include flexColumn;
		@include flexPack;
		input {
			@include text(14px, 17px, $black, normal);
			@include radius(10px, 22px 33px);
			border: 0;
			margin-right: 15px;
		}
		a {
			@include links(80%);
			@include text(14px, 17px, $white, bold);
			@include radius(10px, 22px 75px);
			background: $blue;
		}
		label {
			@include text(14px, 17px, $white, normal);
		}
	}
}
